!!! 5

memberList = [['Mikkel Kranker', 'President'], ['Dominic Stalker', 'Treasurer'], ['Tariq Shair', 'Secretary'], ['Annie Nofer', 'Tours Coordinator'], ['Simon Federer', 'Freestyle Captain'], ['Michael Parkes', 'Race Captain'], ['Morteza Mortezai Nejad', 'Events Officer'], ['Paul Mylcrist', 'Social Secretary'], ['Harry Lachenmayer', 'Web Editor']]

mixin committeeMembers(members)
  ul#members
    - each member in members
      li.member
        p.name= member[0]
        p.position= member[1]

mixin eventsTable(events)
  table
    tr
      th What?
      th Where?
      th When?
    - each event in events
      tr
        td.what= event[0]
        td.where= event[1]
        td.when= event[2]

head
  title Imperial Snowsports
  meta(name='viewport', content='initial-scale=1.0, width=device-width')
  link(rel='stylesheet', type='text/css', href='css/style.css')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(type='text/javascript', src='js/paper.js')
  script(type='text/javascript', src='js/script.js')
body
  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35244710-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  .content#title
    img(src="img/icsc_logo.png")
    .buttons
      a(href='https://www.facebook.com/IC.Snowsports') Facebook
      a(href='https://www.imperialcollegeunion.org/activities/a-to-z/025') Buy membership
  .background-photo
    img(src="img/verbier_blur_small.jpg")
  .content#trip
    .text
      h2 The Trip
      p The <strong>biggest event of the ICSC year</strong> is just a few short months away. In December we will be whisking you away to the French resort of <strong>Les Deux Alpes</strong> for a non-stop week of <strong>snowsports and partying</strong>. Whether you are the sort of person who is ready for first lift, just leaving the club then or, for the most hardcore of you, both, this trip will be <strong>one of the highlights of the uni year</strong>.
      p We will be travelling out there with the <strong>London Snowoperative</strong>, a collaborative project with several other London unis. Last year between us we took out over <strong>550 students</strong>, 200 from Imperial, filling the resort and ensuring what the bars were rammed each night for apr&egrave;s ski and this year looks set to be <strong>bigger than ever</strong>.
      p For those of you who can't ski or board or feel that they could do with some improvement, you can <strong>book lessons on trip</strong> (as well as at Hemel Hempstead snow dome during term time) to get you out there charging gnarly pow with the best of them. For the more experienced of you who are looking to tweak technique in some areas you will be able to book into a <strong>backcountry, racing or freestyle workshop</strong> for a couple of hours during the week.
      p The starting price of <strong>&pound;309</strong> includes:
      ul
        li 6 Day Lift Pass
        li Accommodation
        li Return Transport
        li Free Trip T-Shirt
        li Ski Away Day in <strong>Alpe D'Huez</strong>
        li An absolutely ridiculous week!
      p.emphasize Book your tickets now at <a href="http://booking.nucotravel.com/londonsnowop">http://booking.nucotravel.com/londonsnowop</a> and select the <strong>ICSC</strong> option!
  .photo.horizontal
    img(src="img/look_turn_crop_small.jpg")
  .content#committee
    mixin committeeMembers(memberList)
  .photo.vertical
    img(src="img/rory_sequence_crop_small.jpg")
  .content#faq
    .text
      h2 Ski Trip FAQ
      p.question Can I bring my non Imperial friends?
      p.answer <strong>Yes</strong> - however they need to get associate membership of the union, which is &pound;4 per month so they just need to get it for December, as well as club membership. https://www.imperialcollegeunion.org/your-union/how-were-run/membership
      p.question When is the booking deadline?
      p.answer Midnight 8th November
      p.question Do I need my own skis or snowboard and related equipment?
      p.answer Skis/boots/poles/snowboards are not required - you can book them using NUCO's booking system. To see the prices go on the booking system and you can see them listed, there are various different grades of equipment.
      p.question Do I need my own outerwear (jacket, salopettes, gloves, goggles etc)?
      p.answer These can also be selected for rental, when booking the trip.
      p.question Can I bring my own skis/board?
      p.answer Yes you can however the space on the coaches is limited so the space needs to be selected when booking and there are a limited number of people who can select this option.
      p.question If I provide my own transport is there a reduction in base price?
      p.answer If you make your own way there and back then the price is reduced by &pound;40. However if you only take the coach one way, for example the coach there and then make your own way home, there is no reduction.
  .photo.vertical
    img(src="img/cow_flip_small.jpg")